@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@font-face {
  font-family: "Public Sans";
  src: url("public_sans/PublicSans-SemiBold.ttf");
}

/* 
Global Variabless
*/

.none {
  display: none;
}

:root {
  --clr-suceess-1: #0e886b;
  --clr-suceess-2: #92e3a9;
  --clr-grey-1: #f4f4f4;
  --clr-grey-2: #ecf5f3;
  --clr-grey-3: #e5e5e5;
  --clr-white-1: #fff;
  --clr-danger-1: #e30000;
  --clr-black-1: #4d4d4d;
  --clr-fontsize-1: 23px;
  --clr-line-height: 26px;
  --clr-box-shadow: 10px 10px 20px 0 rgba(97, 180, 161, 0.08);
}
.mb-30 {
  margin-bottom: 30px;
}
.successText {
  color: var(--clr-suceess-1);
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
html {
  font-size: 14px;
}

html,
body {
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Sofia Pro";
  user-select: none;
  overflow-x: hidden;
}

.container {
  display: grid;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  background: var(--clr-grey-1);
  gap: 1.8rem;
  grid-template-columns: 16rem auto;
}

.container h1 {
  font-size: 1.8rem;
}

.container h2 {
  font-size: 1.4rem;
}

#menu-btn {
  display: none;
}

.success2 {
  color: var(--clr-suceess-2);
}
.container h4 {
  font-size: 0.8rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--clr-grey-3);
}

.text-muted {
  color: var(--clr-grey-3);
}


nav {
  display: flex;
  height: 30vh;
  align-items: center;
  width: 50%;
  padding-left: 50px;
  justify-content: space-between;
  font-family: "Public Sans";
}

.menu {
  cursor: pointer;
  display: none;
}
.nav-links {
  cursor: pointer;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.pop-down {
  background-color: #fff;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: 2;
  transform: translateX(-220%);
  right: 0;
  display: none;
  top: 0;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.open {
  transform: rotate(720deg);
  background: transparent;
  transition: ease-in-out;
  transform: translateY(0);
}

.menu-items:first-child {
  margin-top: 100px;
}

.pop-down button {
  width: 90%;
  background: #4490ce;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin-left: 10px;
  height: 35px;
}

.pop-down h4 {
  font-size: 25px;
}

.menu-items {
  margin-bottom: 30px;
  position: relative;
  padding: 10px;
}

.menu-items::after {
  content: " ";
  height: 2px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  width: 90%;
  background-color: #0e886b;
}

.pop-down h4 a,
.pop-down h4 {
  color: #0e886b;
  padding: 10px 0 0;
}

.pop-down a {
  text-decoration: none;
}
.nav-open {
  display: none;
}

.nav-links li {
  font-weight: normal;
  font-size: 16px;
  color: #727272;
  line-height: 19px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 40px;
}
.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo svg {
  width: 30px;
  height: 30px;
}

.nav-logo p {
  color: #0e886b;
  margin-left: 5px;
  font-size: 19px;
}

.Allow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  align-items: center;
  min-height: 80vh;
  font-family: "Public Sans";
}
.allow-left {
  text-align: center;
  margin-top: -140px;
}
.allow-left svg,
.allow-left img {
  /* position: absolute; */
  top: -170px;
  right: 50px;
}

.allowRight {
  padding: 50px;
}

.allowRight h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 78px;
  color: #121212;
}

.allowRight p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #727272;
  width: 80%;
  margin-bottom: 30px;
}

.allowRight button i {
  font-size: 14px;
}

.allowRight button {
  background: transparent;
  border: 1px solid #0e886b;
  box-sizing: border-box;
  border-radius: 8px;
  width: 170px;
  height: 52px;
  outline: none;
  color: #0e886b;
}

.allowRight button:last-child {
  margin-left: 10px;
}

.friends {
  position: relative;
  font-family: "Public Sans";
}

.shareLink {
  display: flex;
}

.friends-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.friend-Text {
  margin-top: 50px;
  width: 80%;
}

.friends-grid .friend-Text p,
.guardUp div:first-child p,
.security-grid > div:last-child p,
.security-icons > div p,
.saferText p,
.main-p,
.docsNav h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #727272;
  width: 80%;
  margin-bottom: 30px;
}
.share-icons {
  width: 80%;
  height: 301px;
  border-radius: 20px;
  margin: auto;
  background: #0e886b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.share-icons > div img {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.share-icons > div {
  padding: 100px 30px 30px 30px;
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.icon-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #fff;
  width: 90%;
}

.dope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 32px;
  margin: 0 auto 150px;
  margin-top: 30px;
  width: 80%;
  font-family: "Public Sans";
}

.dope h1 {
  margin-top: 50px;
  width: 80%;
}

.live {
  display: flex;
  width: 1%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.security {
  display: flex;
  font-family: "Public Sans";
}

.security-grid {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.security-grid > div:last-child {
  margin-top: 100px;
}

.security-icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}


.security-icons > div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.security-icons > div > svg,
.security-icons > div > img {
  background: rgba(14, 136, 107, 0.08);
  padding: 25px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.patner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ourPatner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Public Sans";
}
.ourPatner h1 {
  margin-bottom: 50px;
}

.partner-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.guardUp {
  min-height: 120vh;
  position: relative;
  overflow: hidden;
  background: #0e886b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans";
}

.guardUp > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guardUpBtn button {
  box-sizing: border-box;
  border-radius: 8px;
  width: 170px;
  margin-right: 5px;
  height: 52px;
  outline: none;
  border: none;
  color: #0e886b;
}

.guardUp div:first-child h1 {
  color: #fff;
}
.guardUp div:first-child p {
  color: #fff;
  text-align: center;
}

.circle-img {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-content: space-around;
}

.circle-img img {
  max-height: 80px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

.circle-img img:nth-child(1) {
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.circle-img img:nth-child(4) {
  position: absolute;
  bottom: 16%;
  left: 20%;
  transform: translateX(-50%);
}
.circle-img img:nth-child(2) {
  position: absolute;
  bottom: 16%;
  right: 20%;

  transform: translateX(-50%);
}
.circle-img img:nth-child(3) {
  position: absolute;
  left: 13%;
  top: 35%;

  transform: translateX(-50%);
}
.circle-img img:nth-child(6) {
  position: absolute;
  right: 13%;
  top: 35%;

  transform: translateX(-50%);
}

.circle-img img:nth-child(5) {
  position: absolute;
  bottom: 50px;

  transform: translateX(-50%);
}

.vector {
  position: absolute;
}
.v-img {
  position: absolute;
  z-index: 1;
}

.v-img1 {
  top: 0;
  left: 10%;
}

.v-img2 {
  bottom: 0;
  left: 10%;
}

.v-img3 {
  bottom: 0;
  right: 10%;
}

.v-img4 {
  top: 250px;
  right: 5%;
}

.v-img5 {
  top: 50px;
  right: 5%;
}
.active {
  color: #0e886b;
}
.footer {
  height: 40vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Public Sans";
}

.footer .guardup-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.social-icons {
  display: flex;
  margin-left: 30px;
}

.social-icons > div {
  margin-right: 50px;
}

.social-icons ul {
  list-style: none;
  display: flex;
}

.social-icons ul li {
  font-size: 15px;
  line-height: 19px;
  margin-right: 10px;
  color: #727272;
}
.social-icons ul li:nth-child(2) {
  color: #0e886b;
}
.social-icons ul li:nth-child(3) {
  color: #0e886b;
}
.footer > div:last-child img {
  height: 15px;
  object-fit: contain;
}
.footer .guardup-link ul li {
  list-style: none;
  margin-right: 50px;
  font-size: 14px;
  color: #727272;
}

.footer .guardup-link ul {
  display: flex;
  justify-content: space-between;
}

/* 
About */

.safer {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  font-family: "Public Sans";
}

.saferText {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saferText p {
  text-align: center;
}

/* 
contact us
*/

.message,
.Docs {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
  font-family: "Public Sans";
}

.message {
  margin-bottom: 100px;
}

.message > div:first-child h1 {
  text-align: center;
  font-size: 42px;
  line-height: 65px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 30px;
}

.message > div:first-child p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;

  color: #727272;
}

.sendMails {
  width: 468px;
  font-family: "Public Sans";

  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  border: 1px solid #0e886b;
  box-sizing: border-box;
  border-radius: 20px;
}

.sendMails .social {
  height: 52px;
  width: 170px;
  background: rgba(14, 136, 107, 0.08);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social h1,
.social img {
  margin-right: 20px;
  color: #0e886b;
}

.sendMails .social:first-child {
  margin-bottom: 30px;
}

.sendMails div:last-child {
  display: flex;
}

/* 
docs  */

.docsNav {
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.docsNav h4 {
  margin-right: 10px;
}

.Docs h1 {
  margin-bottom: 30px;
}

.search-doc {
  position: relative;
}
.docSearch ~ img {
  position: absolute;
  left: 20px;
  top: 22%;
  height: 20px;
  width: 20px;
}

.docSearch:focus {
  border: 1px solid var(--clr-suceess-1);
}

.docSearch {
  width: 720px;
  height: 48px;
  border: none;
  outline: none;
  padding: 30px 30px 30px 50px;
  margin-bottom: 30px;
  border: 1px solid var(--clr-grey-3);
  border-radius: 6px;
}

.agency {
  width: 720px;
  background: #f4f4f4;
  border-radius: 10px;
  flex: none;
  align-items: center;

  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  display: flex;
  padding: 20px;
}

.agency > img:first-child {
  height: 50px;
  object-fit: cover;
}

.army {
  margin-left: 20px;
}

.army > p:first-child {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.callwrap {
  display: flex;
}

.call,
.document {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.call img {
  margin-right: 5px;
}

.call p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #0e886b;
}

.document p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #727272;
}

.walk {
  width: 726px;
  font-family: "Public Sans";
}
.h4g {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #121212;
}
.parg {
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 13px;
  color: #727272;
}
.walk img:first-child {
  object-fit: contain;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 2652px) {
  .friends {
    margin: 20px auto 20px;
    width: 65%;
  }

  .shareLink {
    margin-left: 200px;
  }

  .share-icons {
    bottom: 20px;
  }

  .dope {
    max-width: 53%;
  }
}
@media (max-width: 2100px) {
  .shareLink {
    margin-left: 140px;
  }
}

@media (max-width: 1800px) {
  .friends {
    width: 80%;
  }

  .dope {
    max-width: 65%;
  }
}

@media (max-width: 1400px) {
  .friends {
    width: 100%;
  }

  .dope {
    max-width: 80%;
  }

  .live div img {
    height: 700px;
  }

  .dope {
    max-width: 96%;
  }
}

@media (max-width: 1300px) {
  .friends {
    margin: 20px auto 120px;
  }
  .Allow {
    display: flex;
    flex-direction: column;
  }
  .allow-left {
    margin-top: 0;
  }

  .allow-left svg,
  .allow-left img {
    top: -250px;
    /* transform: scale(0.6); */
    right: -100px;
  }

  .allowRight p {
    width: 90%;
  }

  .circle-img img:nth-child(6) {
    right: 2%;
  }

  .v-img4 {
    right: -10%;
  }

  .friends-grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .friends-grid > div:first-child {
    margin-left: 0;
  }
  .share-icons {
    bottom: -75px;
  }

  .share-icons > div {
    padding: 165px 30px 30px 30px;
    width: 76%;
    margin: auto;
  }

  .live div img {
    height: 550px;
  }
}

@media (max-width: 900px) {
  .live {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .docsNav {
    width: 86%;
  }

  .friends-grid .dope h1,
  .ourPatner h1,
  .safer h1,
  .guardUp h1,
  .security-grid > div:last-child h1 {
    font-size: 40px;
    line-height: 65px;
    font-weight: 100;
    color: #121212;
  }

  .allowRight h1 {
    font-size: 40px;
    line-height: 65px;
  }
  /* .Docs > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

  } */
  .docSearch {
    width: 100%;
  }
  .walk img {
    width: 400px;
  }

  .walk-img {
    display: flex;
    justify-content: center;
  }

  .divParagraph {
    margin: 0 auto;
    width: 50%;
    word-wrap: break-word;
  }

  .date,
  .parg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .agency {
    width: 80%;
  }

  .agency-grid {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dope {
    width: 100%;
  }
  .liveImg {
    height: 400px;
  }

  .security {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Public Sans";
  }
  .security-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .securitycon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle-img img:nth-child(6) {
    right: -5%;
  }
  .circle-img img:nth-child(2) {
    right: 5%;
  }
  .circle-img img:nth-child(3) {
    left: 5%;
  }
  .circle-img img:nth-child(5) {
    transform: translateX(-20%);
  }

  .v-img4 {
    right: -20%;
  }
  .v-img3 {
    right: -20%;
  }
  .v-img2 {
    left: -18%;
  }
  .nav-logo p {
    font-size: 14px;
  }

  .nav-link-item {
    font-size: 14px;
  }
  /* .allow-left svg {
    top: -250px;
    transform: scale(0.9);
    right: -100px;
  } */
  nav {
    width: 100%;
  }

  .menu {
    z-index: 100;
  }

  .allow-left svg,
   .allow-left img {
    width: 334px;
    height: 447px;
  }
  .allowRight p {
    width: 100%;
  }

  .allowRight {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .allow-left {
    display: flex;
    text-align: center;
  }

  .partner-logo {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .security-icons {
    flex-direction: column;
  }

  .patner {
    margin-top: 100px;
  }
  nav {
    width: 90%;
  }

  .guardBtn {
    display: flex;
  }
  .menu {
    display: block;
    margin-bottom: 3px;
    margin-right: 5px;
  }

  .safer h1 {
    text-align: center;
    width: 90%;
    margin-top: 50px;
  }
  .nav-links li {
    display: none;
  }

  .share-icons {
    width: 100%;
  }

  .allow-left {
    height: 550px;
  }

  .circle-img img {
    height: 65px;
    object-fit: cover;
  }

  .share-icons div {
    padding-left: 0;
  }

  .share-icons > div > div > img {
    margin-right: 30px;
  }

  .live {
    flex-direction: column;
  }

  .guardUp h1 {
    text-align: center;
  }

  nav {
    padding-left: 26px;
  }
  .sendMails {
    width: 300px;
    height: 258px;
  }

  .sendMails .social {
    margin-left: -17px;
    padding: 10px;
  }
  .sendMails > div:last-child {
    flex-direction: column;
  }

  .circle-img img:nth-child(6) {
    top: 20%;
  }
  .circle-img img:nth-child(3) {
    top: 20%;
    left: 13%;
  }

  .social-icons {
    width: 100%;
    margin-left: 6px;
  }

  .nav-logo {
    margin-right: 10px;
  }

  .nav-item {
    font-size: 13px;
  }

  .footer {
    padding: 15px;
  }
  .social-icons > div {
    display: flex;
  }
  .social-icons > div:first-child img {
    margin-right: 5px;
  }
  .message > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message p {
    width: 80%;
  }

  .footer .guardup-link ul li {
    margin-right: 10px;
  }
  .footer .guardup-link ul {
    justify-content: space-around;
  }

  .footer ul li {
    font-size: 12px;
  }

  .agency {
    width: 94%;
  }
  .agency p {
    font-size: 13px;
  }
  .guardUpBtn button {
    width: 125px;
  }
  .u-colmn {
    flex-direction: column;
  }

  .dope h1 {
    text-align: center;
    width: 90%;
  }
}
@media (min-width: 400px) {
  .friends-grid .friend-Text h1,
  .dope h1,
  .ourPatner h1,
  .safer h1,
  .guardUp h1,
  .security-grid > div:last-child h1 {
    font-size: 40px;
    line-height: 65px;
    font-weight: 100;
    color: #121212;
  }
}
@media (max-width: 400px) {
  .allow-left svg,
  .allow-left img
   {
    top: -250px;
  }
  .allowRight button {
    width: 150px;
  }

  .allowRight h1,
  .friend-Text h1 {
    font-size: 32px;
    line-height: 52px;
  }

  .allow-left {
    height: 460px;
    margin-top: 30px;
  }
  .security-grid > div:first-child img {
    width: 300px;
  }
  .shareLink img {
    width: 328px;
    height: 448px;
  }

  .friend-Text {
    margin-left: 40px;
    width: 96%;
  }
  .share-icons div div img {
    height: 60px;
    width: 60px;
  }
  .walk img {
    width: 300px;
  }
  .share-icons > div {
    padding: 190px 30px 30px 30px;
    width: 75%;
  }

  .allowRight {
    padding: 50px 19px 0 50px;
  }

  .friend-Text h1,
  .dope h1,
  .ourPatner h1,
  .safer h1,
  .allowRight h1 .guardUp h1,
  .security-grid > div:last-child h1 {
    font-size: 32px;
    line-height: 52px;
    font-weight: 100;
  }

  .dope h1 {
    text-align: center;
    width: 94%;
  }
}

/* 
Management Dashboard
*/

aside {
  background: var(--clr-suceess-1);
  height: 100vh;

  position: relative;
}

aside .top {
  display: flex;
  height: 20vh;
  margin-left: 2rem;
  align-items: center;
  justify-content: space-between;
}

aside .close {
  display: none;
  cursor: pointer;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

aside .logo p {
  color: var(--clr-white-1);
}

/* side bar */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}
aside .sidebar a.active span {
  background: var(--clr-suceess-1);
  color: var(--clr-grey-3);
}
aside .sidebar a {
  display: flex;
  color: var(--clr-grey-1);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a svg {
  height: 1.5rem;
  width: 1.5rem;
}
aside .sidebar div:last-child {
  display: flex;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 6.5rem;
  width: 100%;
}
aside .sidebar div:last-child div {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}
aside .sidebar div:last-child div h5 {
  color: var(--clr-white-1);
  font-weight: 100;
}

aside .sidebar a.active {
  background: var(--clr-grey-3);
  color: var(--clr-suceess-1);
  border-radius: 6px 0 0 6px;
  padding-left: 18px;
  margin-left: 0.8rem;
}

aside,
.sidebar a:hover {
  color: var(--clr-black-1);
}
aside,
.sidebar a:hover svg path {
  fill: var(--clr-black-1);
}

aside .sidebar a.active svg path {
  fill: var(--clr-suceess-1);
}
aside .sidebar .message-count {
  background: var(--clr-grey-1);
  color: var(--clr-suceess-1);
  font-size: 11px;
  padding: 2px 12px;
  border-radius: 30%;
}

.topic {
  display: flex;
  padding: 20px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 96%;
  position: relative;
}

.topic::after {
  content: " ";
  width: 96%;
  height: 1px;
  background-color: var(--clr-black-1);
  position: absolute;
  bottom: -6px;
  opacity: 0.5;
}

.search-notify {
  display: flex;
  position: relative;
}
.search-img {
  position: absolute;
  margin-left: 10px;
  bottom: 40%;
  left: 0;
  transform: translateY(15%);
}
.search-notify input {
  width: 385px;
  height: 52px;
  background: var(--clr-white-1);
  border-radius: 8px;
  padding: 10px;
  padding-left: 30px;
}

.notify {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  object-fit: cover;
  padding: 14px;
  position: relative;
  background: var(--clr-white-1);
}

.notifydiv::after {
  content: " ";
  width: 5px;
  height: 5px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background: var(--clr-danger-1);
  position: absolute;
}

.downloadReport select {
  width: 119px;
  height: 48px;
  text-align: center;

  background: #f4f4f4;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.downloadReport {
  text-align: end;
  margin-right: 25px;
  margin-bottom: 40px;
}
.downloadReport button {
  width: 170px;
  height: 48px;
  margin-left: 4px;
  background: #f1f8f6;
  border: 1px solid #92e3a9;
  box-sizing: border-box;
  border-radius: 10px;
}
.btns {
  width: 170px;
  height: 48px;
  margin-left: 4px;
  background: transparent;
  border: 1px solid #92e3a9;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 19px;
  color: var(--clr-suceess-1);
}

.btnsFlex,
#orderModalBtn {
  width: 170px;
  height: 48px;
  margin-left: 4px;
  background: transparent;
  border: 1px solid #92e3a9;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  color: var(--clr-suceess-1);
}
.insight {
  width: 1074px;
  min-height: 267px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: #ffffff;
  border-radius: 18px;
  margin: 0 auto;
}

.user-Alert {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.user-alert-text h4 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 23px;
  color: var(--clr-suceess-1);
  font-weight: 500;
}

.user-alert-text div h3 {
  font-size: 28px;
  font-weight: 600;
  margin-right: 10px;
}

.user-alert-text div span {
  background: var(--clr-suceess-2);
  padding: 6px;
  color: var(--clr-suceess-1);
  opacity: 0.47;
  font-size: 11px;
  border-radius: 50%;
}

.num {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-Alert h5 {
  font-size: 18px;
  line-height: var(--clr-line-height);
  color: var(--clr-black-1);
  font-weight: normal;
  margin-top: 10px;
}

.user-Alert h5 span {
  font-size: 18px;
  color: #121212;
  font-weight: 500;
}

@media (max-width: 2652px) {
  .insight {
    width: 90%;
  }
}

/* Live Activity */
.live-activity,
.content {
  margin: 40px auto;
  display: grid;
  width: 90%;
}

.live-heading {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.live-heading h4,
.cnt-heading h4 {
  font-size: 20px;
}
.live-heading select {
  width: 119px;
  height: 48px;
  text-align: center;
  background: var(--clr-grey-3);
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.selectBox {
  position: relative;
}

.live-heading select::after {
  position: absolute;
  right: 10px;
  top: 50%;
  border-top: -5px;
  border-top: 8px solid solid var(--clr-suceess-1);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.live-activity-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.firstlive {
  width: 40px;

  height: 40px;
  object-fit: contain;
}

.live-items h4 {
  font-size: 16px;
}
.joined {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.joined-img {
  align-items: center;
  margin-left: 8px;
  display: flex;
}

.joined p {
  font-size: 12px;
}

.joined-img img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.live-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--clr-white-1);
}

.live-video {
  display: flex;
  align-items: center;
}

.live-video p {
  font-size: 12px;
  margin-right: 4px;
}

.num-lives h4 {
  font-size: 15px;
  font-weight: 300;
  color: var(--clr-suceess-1);
}
.num-lives:first-child {
  margin-right: 8px;
}
.num-lives p {
  font-size: 11px;
  margin-bottom: 3px;
}

.live-video .edit {
  text-transform: uppercase;
  color: var(--clr-suceess-1);
}

/* Users Dashboard */

.userWrapper,
.content-grid,
.config-grid,
.shop-grid {
  background-color: var(--clr-white-1);
  margin: 0 auto;
  display: grid;
  min-width: 96%;
  align-items: center;
  padding: 40px;
  box-shadow: 10px 10px 20px 0 rgba(14, 136, 107, 0.08);
  border-radius: 10px;
}

.userWrapper tbody >td:first-child > img {
  height: 33px;
  width: 33px;
  object-fit: cover;
}
.userWrapper tbody h4 {
  font-size: 15px;
  font-weight: 500;
}

.userWrapper tbody td:last-child img {
  color: #0e886b;
  opacity: 0.45;
  width: 50px;
  height: 20px;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--clr-suceess-2);
}

main {
  position: relative;
}

.Friends-pop {
  position: absolute;
  top: 0;
  height: 135px;
  width: 200px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: var(--clr-white-1);
  display: none;
  padding: 20px;
}
.user-details-long {
  min-width: 943px;
}
.user-details {
  background-color: var(--clr-white-1);
  position: absolute;
  min-width: 96%;
  transition: all 300ms ease;
  min-height: 597px;
  left: 40%;
  top: 60%;
  transform: translate(-50%, -40%);
  border-radius: 16px;
  display: none;
  z-index: 400;
  box-shadow: var(--clr-box-shadow);
}

.success-pop {
  position: absolute;
  width: 399px;
  transform: translateX(-50%);
  left: 50%;
  top: 40%;
  height: 412px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  z-index: 400;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  display: none;
}

.popUp {
  display: block;
}

.popUpTable {
  min-height: max-content;
  object-fit: contain;
}

.popUpGrid {
  display: grid;
}
.popUpFlex {
  display: flex;
}
#overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
  right: 0;
  pointer-events: none;
  position: fixed;
  opacity: 0;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.user-details-header {
  background-color: var(--clr-suceess-1);
  height: 25vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 16px 16px 0 0;
  align-items: center;
}

.user-details-header h3 {
  font-size: 24px;
  color: var(--clr-white-1);
  margin-bottom: 8px;
}

.user-details-header span {
  background-color: rgba(255, 255, 255, 0.329);
  color: #ffff;
  border-radius: 50%;
  padding: 8px 12px;
}

.user-details-header p {
  color: #fff;
}

.details-content {
  padding: 50px;
}

.user-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user {
  display: flex;
  gap: 1rem;
}

.user h2 {
  margin-bottom: 10px;
}

.user img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.email-address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.activeSum {
  margin-bottom: 30px;
}
.email-address span {
  background-color: var(--clr-suceess-1);
  color: var(--clr-white-1);
  border-radius: 6px 3px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 13px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.videoFlex {
  display: flex;
  align-items: center;
}

.videoFlex img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.videoFlex p {
  color: #000;
  margin-left: 10px;
}

.dt {
  margin-bottom: 30px;
}

.details-friends-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.details-friends-grid img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.details-grid1 {
  position: relative;
}

.details-grid1::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 90px;
  background-color: var(--clr-black-1);
  right: 30%;
  top: 50%;
  transform: translateY(-70%);

  opacity: 0.2;
}

.details-grid2 {
  position: relative;
}

.details-grid2::after {
  content: " ";
  opacity: 0.2;
  position: absolute;
  width: 2px;
  height: 90px;
  background-color: var(--clr-black-1);
  right: 40%;
  top: 50%;
  transform: translateY(-50%);
}

.details-grid3 {
  position: relative;
}



.friends-contact {
  display: flex;
  align-items: center;
}

.friends-contact:first-child {
  margin-bottom: 13px;
}

.friends-contact img {
  height: 25px;
}

.friends-contact p {
  font-size: 12px;
  margin-left: 5px;
}

.friends-cnt {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.friends-cnt h4 {
  font-size: 15px;
}

.friends-cnt img {
  margin-right: 6px;
  height: 25px;
}

.flex-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Alert */
.live-alert-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* content */
.cont-right {
  background: var(--clr-white-1);
  height: 44px;
  width: 281px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-radius: 8px;
}

.cont-right span {
  text-align: center;
  font-size: 14px;
}

.cont-right span.active {
  background: var(--clr-suceess-1);
  color: var(--clr-white-1);
  padding: 7px;
  border-radius: 10px;
}

.content-grids {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.content-items-grid img {
  width: 220px;
  height: 140px;
  object-fit: cover;
  margin-bottom: 10px;
}
.content-items-grid p {
  font-size: 12px;
  margin-top: 6px;
}

.content-items-grid h4 {
  font-size: 15px;
}

.content-grid h1 {
  font: 19px;
}

.cnt-heading svg,
.cnt-heading img {
  color: #0e886b;
  opacity: 0.45;
  height: 30px;
  width: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--clr-suceess-2);
}

.cnt-heading {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.draftdivs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.draftdivs::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #979393;
  position: absolute;
  bottom: -15px;
  opacity: 0.5;
}

.texticons-btns {
  display: flex;
  align-items: center;
}

.textIcons {
  border-radius: 5px;
  width: 240px;
  height: 48px;
  background-color: var(--clr-grey-3);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.texticons-btns button {
  margin-left: 10px;
  cursor: pointer;
}

.textIcons svg {
  cursor: pointer;
}

.nightwalk {
  margin-top: 30px;
}

.nightwalk div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nightwalk h3 {
  font-size: 20px;
}

.nightwalk div p {
  width: 90%;
}

.success-pop svg {
  margin-bottom: 30px;
}

.success-pop h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.success-pop p {
  margin-bottom: 30px;
}

.success-pop button {
  width: 146px;
  height: 52px;
  color: var(--clr-white-1);
  background: #0e886b;
  border-radius: 10px;
}

.drag-drop {
  width: 300px;
  height: 200px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.ads-grid img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.drag-drop img {
  margin-bottom: 10px;
  object-fit: contain;
  height: 80px;
  cursor: pointer;
}

.drag-drop p span {
  color: var(--clr-suceess-2);
}
.ads-grid {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.Draft-text {
  min-width: 926px;
  height: 284px;
  background: #fafafa;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Draft-text svg {
  margin-right: 20px;
}

.drafter h2 {
  font-size: 19px;
  font-weight: 500;
  margin-left: 10px;
}
.success {
  background-color: var(--clr-suceess-1);
}

.num h4 {
  color: var(--clr-white-1);
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shop-text h4 {
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-white-1);
  margin-top: 20px;
}

.shop-text-2 span {
  color: var(--clr-white-1);
}

.numd {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.numd h3 {
  font-size: 20px;
  color: var(--clr-white-1);
  margin-right: 10px;
}
.shop-grid {
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.dangerText {
  color: var(--clr-danger-1);
}

.shop-items img {
  border-radius: 8px;
  margin-bottom: 13px;
}
.shop-items p:last-child {
  color: var(--clr-danger-1);
}

.shop-items h3 {
  margin-bottom: 8px;
}

.shop-items p {
  margin-bottom: 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product-grid1 div .product-input1 {
  width: 390px;
  height: 48px;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}
.product-input2 {
  width: 390px;
  height: 80px;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
}

.product-input {
  height: 48px;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
}

.product-input11 {
  width: 131px;
}

.product-input22 {
  width: 103px;
}
.product-grid-flex {
  display: flex;
  margin-top: 20px;
}



.product-grided2 {
  width: 390px;
  height: 156px;
  background: var(--clr-white-1);
  display: flex;
  box-shadow: var(--clr-box-shadow);
  justify-content: space-around;
  align-items: center;
}

.product-grid2 {
  position: relative;
}

.product-img {
  display: flex;
  justify-content: space-around;
  width: 310px;
  border: 1px solid #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.pdt-img1 svg,
.pdt-img1 img.add {
  height: 45px;
  margin-bottom: 10px;
  object-fit: contain;
}

.pdt-img1 img {
  height: 80px;
  width: 120px;
  object-fit: cover;
  border-radius: 14px;
  margin-right: 6px;
}


.product-btn {
  position: absolute;
  width: 182px;
  height: 48px;
  bottom: 0;
  right: 15px;
  background: #0e886b;
  border-radius: 4px;
  color: var(--clr-white-1);
}

.contactBtns {
  text-align: end;
  margin-top: 50px;
}

.product-btns {
  width: 182px;
  height: 48px;
  bottom: 0;
  right: 15px;
  background: #0e886b;
  border-radius: 4px;
  color: var(--clr-white-1);
}

.user-flex {
  display: flex;
  align-items: center;
}

.user-flex:first-child img {
  margin-right: 6px;
  height: 40px;
}

.user-flex p {
  margin-right: 10px;
}

.price-pdt {
  display: flex;
  align-items: center;
}

.price-pdt span {
  font-size: 16px;
}

.price-pdt h5 {
  margin-left: 10px;
  font-size: 15px;
}
.border-radius {
  border-radius: 14px;
  width: 140px;
  height: 100px;
  object-fit: cover;
}

.productshop-grid {
  gap: 3rem;
}

.order-item-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0 auto;
  padding: 50px;
}

.order-item1 img {
  margin-bottom: 30px;
}

.order-item1 h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.order-item1 {
  margin-bottom: 20px;
}
.order-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.order-info h4 {
  line-height: 19px;
  color: #121212;
  font-weight: 400;
  font-size: 16px;
}
.order-info p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #727272;
  font-weight: 500;
  line-height: 16px;
}

.info2 {
  width: 50%;
}

.order-item-info:last-child h4 {
  font-size: 14px;
}
/* configuration */
.config-grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.config-grid1 > div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.config-grid1 > div svg,
.config-grid1 > div img {
  margin-right: 19px;
}
.success2 {
  color: var(--clr-suceess-2);
}

.config-grid1 {
  position: relative;
}

.config-grid1 > div .success2 {
  color: var(--clr-suceess-2);
}
.config-grid2 {
  width: 80%;
}
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.none {
  display: none;
}

.config-grid1::after {
  content: " ";
  width: 2px;
  height: 90%;
  top: 0;
  right: 65px;
  box-shadow: var(--clr-box-shadow);
  background: #c4c4c4;
  position: absolute;
}
.config-grid2 button {
  width: 126px;
  height: 40px;
  color: #0e886b;
  background: rgba(14, 136, 107, 0.08);
  border-radius: 4px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.form-grid .profile-name input {
  width: 280px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
}
.form-grid .profile-name label {
  margin-bottom: 10px;
}

.form-grid .profile-name input:focus {
  border: 1px solid var(--clr-suceess-2);
}
.profile {
  margin-bottom: 30px;
}

.config-grid2 .configBtn {
  width: 126px;
  height: 40px;
  color: var(--clr-white-1);
  background: #0e886b;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 20px;
}

.config-grid2 table {
  width: 100%;
  min-height: 300px;
}

.config-grid2 table td {
  font-size: 16px;
}

.AdminRole {
  cursor: pointer;
}

.none {
  display: none;
}

/* Management DDashboard Madia Querys */
@media (max-width: 1200px) {
  .container {
    grid-template-columns: 7.6rem auto;
  }
  aside .logo p {
    display: none;
  }
  aside .sidebar a:last-child .user {
    display: none;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
    bottom: 0;
  }
  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 6.8rem;
  }
  .insight {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 50px;
  }

  .content-grids {
    grid-template-columns: repeat(2, 1fr);
  }

  .live-alert-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .ads-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .user-details {
    width: 600px;
  }
  .shop-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
  .product-grid1 {
    width: 90%;
  }
  .product-grid-flex {
    gap: 1rem;
  }

  .product-grid1 .prod {
    display: flex;
    flex-direction: column;
  }

  .product-btn {
    position: relative;
    margin-top: 40px;
    right: 0;
  }

  .config-grid {
    grid-template-columns: 1fr;
  }

  .config-grid1::after {
    width: 100%;
    height: 2px;
    top: 150px;
    right: 0;
  }

  .config-grid2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .callwrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-doc {
    width: 80%;
  }
  .config-grid {
    width: 450px;
  }

  .config-grid1::after {
    width: 60%;
    left: 0;
  }

  .form-grid .profile-name input {
    width: 150px;
  }
  .topic {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    background: var(--clr-suceess-1);
    box-shadow: var(--clr-box-shadow);
    z-index: 10;
  }
  aside {
    position: fixed;
    left: 0;
    width: 18rem;
    z-index: 12;
    box-shadow: var(--clr-box-shadow);
    height: 100vh;
    padding-right: 1.3rem;
    display: none;
    left: -100%;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }
  aside .logo p {
    display: inline;
  }
  aside .sidebar a:last-child .user {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 96%;
    height: 3.4rem;
  }

  .topic h1 {
    font-size: 19px;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 8rem;
  }

  aside .close {
    display: inline-block;
  }

  .container main {
    padding: 0 1rem;
    margin: 8rem auto;
    position: relative;
  }

  .live-heading {
    width: 100%;
  }

  .live-heading h4 {
    margin-right: 150px;
  }

  .topic h1 {
    color: var(--clr-white-1);
  }

  .content-grid {
    width: 200px;
  }
  .content-grids {
    grid-template-columns: 1fr;
  }

  .live-activity-grid,
  .live-alert-grid {
    grid-template-columns: 1fr;
  }

  .ads-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-gridwrap {
    display: flex;
    flex-direction: column;
  }

  .shop-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productshop-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .live-heading div:last-child {
    gap: 1rem;
    display: grid;
    margin-right: 10px;
  }
  .bright {
    display: none;
  }

  #menu-btn {
    margin-left: 10px;
    display: inline-block;
    min-width: 40px;
    min-height: 30px;
  }

  .search-notify .search__input input {
    width: 290px;
  }

  .container {
    display: flex;
  }

  .user-details {
    width: 380px;
  }

  .product-grided2 {
    width: 100%;
  }

  .product-grided2 div {
    width: 80%;
  }

  .product-grid .product-grid1 .prod input,
  .product-grid .product-grid1 .prod textarea {
    width: 100%;
  }

  .details-grid1::after {
    right: 11%;
  }

 

  .details-content .details-grid {
    grid-template-columns: 1fr;
  }

  .details-content .details-grid1::after,
  .details-content .details-grid2::after {
    display: none;
  }

  .dt {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .details-content {
    padding: 50px 20px;
  }
  .userWrapper table tbody td:nth-child(5) {
    display: none;
  }
  .userWrapper {
    min-width: 1000px;
  }
}

@media (max-width: 500px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-grid .profile-name input {
    width: 280px;
  }
  .user-details {
    min-width: 300px;
    left: 54%;
    top: 30%;
  }

  .mx {
    top: 100%;
    min-width: max-content;
  }
  .productshop-grid {
    flex-direction: column;
    display: flex;
  }

  .search-notify .search__input input {
    width: 230px;
  }

  #successModal {
    width: 350px;
    top: 30%;
  }

  .content-grid {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
    margin: 0;
  }

  .live-heading {
    margin: 0;
    margin-bottom: 30px;
  }

  .live-heading h4 {
    margin-right: 20px;
  }
}

@media (max-width: 400px) {
  .ads-grid img,
  .drag-drop {
    width: 220px;
    height: 120px;
  }
  .user-details {
    left: 51%;
  }
}
@media (max-width: 360px) {
  .icon-text {
    font-size: 13px;
  }

  .share-icons > div {
    width: 100%;
    padding: 190px 5px 30px 22px;
  }
  .search-notify .search__input input {
    width: 200px;
  }
  .downloadReport {
    display: flex;
    margin-left: 20px;
  }
  .agency {
    width: 98%;
  }
  .shop-grid {
    display: flex;
    flex-direction: column;
  }

  .user-details {
    width: 311px;
  }

  #successModal {
    width: 320px;
  }

  .search-notify .search__input input {
    width: 180px;
  }

  .btns {
    width: 140px;
  }
}

.payment {
  font-family: "Public Sans";
}

.pay {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-height: 100vh;
  margin-bottom: 100px;
}

.pay svg {
  cursor: pointer;
}
.personal {
  flex-direction: column;
}

.personal input,
.personal select,
.personal textarea {
  width: 327px;
  height: 40px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #727272;
  font-family: "Work Sans";
}

.personal textarea {
  text-decoration: none;
  height: 70px;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.p-head {
  color: #727272;
  margin-bottom: 40px;
  margin-top: 30px;
}

.terms {
  display: flex;
  margin-top: 30px;
  width: 80%;
}

.allowRight {
  width: 101%;
  padding-left: 30px;
}



/* .allowRight h1 {
  font-size: 40px;
  line-height: 65px;
} */
.terms input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.payBtn {
  width: 330px;
  height: 52px;
  margin-bottom: 100px;

  background: #0e886b;
  border-radius: 8px;
  color: #fff;
}

.order-sum div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.order-sum div p:first-child {
  color: #727272;
  font-size: 13px;
}

.order-sum {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.caution {
  background-color: #fff;
  width: 75%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 16px;
  display: flex;
}

.caution p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  margin-left: 15px;

  color: #121212;
}

.checkout {
  font-family: Work Sans;
  font-style: normal;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #121212;
}
